*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: bisque;
}
.main_container{
    align-items: center;
    /* border: 2px solid black; */
    text-align: center;
   
}
button{
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    background-color: rgb(247, 172, 60);
    border: none;
    margin-left: 10px;
    margin-bottom: 10px;
}
#search{
    padding: 10px;
    border-radius: 20px;
    width: 15rem;
    border: none;
}
#emoji_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 50px;
    margin: 40px;
    padding: 20px;

}